.service {

}

.service-info {
  @include media(lg) {
    display: flex;
    align-items: center;
    gap: size(140);
  }
}

.service-title {
  width: size(187);

  @include media(md) {
    width: size(306);
  }

  @include media(lg) {
    position: relative;
    bottom: size(5);
  }
}

.service-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: size(10);

  @include media(md) {
    gap: size(38);
  }
}

.service-btn {
  min-width: size(122);
  height: size(37);
  border-radius: size(5);

  @include media(md) {
    min-width: size(161);
    height: size(50);
  }

  @include media(lg) {
    font-size: size(20);
    line-height: size(26);
    height: auto;
  }

  &.active {
    background: $orange;
    color: $white;
  }
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: size(34);
  margin-top: size(-2);

  @include media(md) {
    justify-content: space-between;
    gap: 0;
    row-gap: size(40);
    margin-top: 0;
  }

  @include media(md) {
    row-gap: size(55);
  }
}

.service-item {
  width: 100%;
  margin-top: size(-1);
  transition: $td;

  @include media(md) {
    width: 50%;
    max-width: size(280);
    margin-top: auto;
    margin-bottom: size(-29);
  }

  @include media(lg) {
    width: calc(100% / 3);
    max-width: size(330);
    margin-bottom: auto;
  }

  &.blur {
    filter: blur(2px);
    user-select: none;
  }
}

.service-item__img {

  @include media(lg) {
    height: size(350);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: size(20) size(20) 0 0;
    object-fit: cover;
  }
}

.service-item__info {
  border: size(1) solid $border;
  border-radius: 0 0 size(20) size(20);
  text-align: center;
}

.service-item__title {
  position: relative;
  top: size(-4);
  color: $orange;
  font-size: size(20);
  font-weight: 700;

  @include media(md) {
    top: size(-5);
  }

  @include media(lg) {
    position: static;
    top: auto;
  }
}

.service-item__description {
  position: relative;
  top: size(-3);
  color: $title;
  line-height: size(17);

  @include media(md) {
    top: size(-13);
    font-size: size(16);
    line-height: size(20);
  }

  @include media(lg) {
    position: static;
    top: auto;
  }
}

