<section class="service" id="service">
  <div class="container">
    <div class="service-inner pv-30 pt-60@md pb-70@md pt-40@lg pb-120@lg mb-17@md mb-0@lg">
      <div class="service-info mb-40">
        <h2 class="service-title subtitle text-color__green mb-36 mb-44@md mb-36@lg">Service and our projects</h2>
        <div class="service-buttons mb-44@lg">
          <button class="btn btn-outline--orange service-btn pv-12@lg ph-40@lg">Gardens</button>
          <button class="btn btn-outline--orange service-btn pv-12@lg ph-40@lg">Lawn</button>
          <button class="btn btn-outline--orange service-btn pv-12@lg ph-40@lg">Planting</button>
        </div>
      </div>
      <div class="service-list ph-25 ph-0@md">
        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/1.png" alt="Garden care">
          </div>
          <div class="service-item__info ph-36 ph-30@lg pt-10 pt-4@lg pb-20 pb-36@lg">
            <p class="service-item__title text mb-10 mb-8@lg">Garden care</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/2.png" alt="Planting">
          </div>
          <div class="service-item__info ph-36 ph-30@lg pt-10 pt-4@lg pb-20 pb-36@lg">
            <p class="service-item__title text mb-10 mb-8@lg">Planting</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/3.png" alt="Lawn care">
          </div>
          <div class="service-item__info ph-36 ph-30@lg pt-10 pt-4@lg pb-20 pb-36@lg">
            <p class="service-item__title text mb-10 mb-8@lg">Lawn care</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/4.png" alt="Planting">
          </div>
          <div class="service-item__info ph-36 ph-30@lg pt-10 pt-4@lg pb-20 pb-36@lg">
            <p class="service-item__title text mb-10 mb-8@lg">Planting</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/5.png" alt="Garden care">
          </div>
          <div class="service-item__info ph-36 ph-30@lg pt-10 pt-4@lg pb-20 pb-36@lg">
            <p class="service-item__title text mb-10 mb-8@lg">Garden care</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/6.png" alt="Planting">
          </div>
          <div class="service-item__info ph-36 ph-30@lg pt-10 pt-4@lg pb-20 pb-36@lg">
            <p class="service-item__title text mb-10 mb-8@lg">Planting</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
