<section class="service" id="service">
  <div class="container">
    <div class="service-inner pv-30 pt-60@md pb-70@md pt-40@lg pb-120@lg">
      <div class="service-info mb-40">
        <h2 class="service-title subtitle text-color__green mb-36">Service and our projects</h2>
        <div class="service-buttons">
          <button class="btn btn-outline--orange">Gardens</button>
          <button class="btn btn-outline--orange">Lawn</button>
          <button class="btn btn-outline--orange">Planting</button>
        </div>
      </div>
      <div class="service-list ph-25 ph-0@md">
        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/1.png" alt="Garden care">
          </div>
          <div class="service-item__info ph-40 pt-10 pb-20">
            <p class="service-item__title text mb-10">Garden care</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/2.png" alt="Planting">
          </div>
          <div class="service-item__info ph-40 pt-10 pb-20">
            <p class="service-item__title text mb-10">Planting</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/3.png" alt="Lawn care">
          </div>
          <div class="service-item__info ph-40 pt-10 pb-20">
            <p class="service-item__title text mb-10">Lawn care</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/4.png" alt="Planting">
          </div>
          <div class="service-item__info ph-40 pt-10 pb-20">
            <p class="service-item__title text mb-10">Planting</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/5.png" alt="Garden care">
          </div>
          <div class="service-item__info ph-40 pt-10 pb-20">
            <p class="service-item__title text mb-10">Garden care</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>

        <div class="service-item">
          <div class="service-item__img">
            <img src="assets/img/services/6.png" alt="Planting">
          </div>
          <div class="service-item__info ph-40 pt-10 pb-20">
            <p class="service-item__title text mb-10">Planting</p>
            <p class="service-item__description text">Lorem Ipsum has been the industry</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
