<nav class="breadcrumbs horizontal-scroll pv-12 mb-16 pv-24@lg mb-4@lg">
  <a class="breadcrumbs--item" href="/">Главная</a>
  <span class="breadcrumbs--divider">/</span>
  <a class="breadcrumbs--item" href="/">Главная</a>
  <span class="breadcrumbs--divider">/</span>
  <a class="breadcrumbs--item" href="/">Главная</a>
  <span class="breadcrumbs--divider">/</span>
  <a class="breadcrumbs--item" href="/">Главная</a>
  <span class="breadcrumbs--divider">/</span>
  <a class="breadcrumbs--item" href="/">Главная</a>
  <span class="breadcrumbs--divider">/</span>
  <b class="breadcrumbs--item">@@title</b>
</nav>
