.footer {
  display: grid;
  grid-area: footer;
  background-color: $white;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: size(16);

  @include media(lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-copyright, .footer-rsschool {
  margin: 0;
  color: $black;
  font-size: size(20);
  line-height: size(24);
  text-decoration: none;
  transition: $td;

  &:hover {
    color: $orange;
  }
}

.footer-copyright {
  position: relative;
  top: size(3);
  left: size(-1);
  word-spacing: size(14);

  @include media(md) {
    position: relative;
    left: size(-4);
    top: size(3);
  }

  @include media(lg) {
    position: static;
    top: auto;
    left: auto;
  }
}

.footer-rsschool {
  position: relative;
  top: size(4);

  @include media(lg) {
    top: auto;
    left: size(10);
  }

}

.footer-socials {
  display: flex;
  gap: size(20);
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include media(md) {
    position: relative;
    top: size(12);
  }

  @include media(lg) {
    position: static;
    top: auto;
  }
}

.footer-social {
  cursor: pointer;

  svg {
    fill: $black;
    transition: $td;
    width: size(32);
    height: size(32);

    &:hover {
      fill: $orange;
    }
  }
}
