.header {
  overflow: hidden;
  grid-area: header;
  display: grid;

  @include media(md, max) {
    position: fixed;
    width: 100%;
    background: $body;
    z-index: 2;
  }
}

.header-fixed {
  @include media(md, max) {
    min-height: size(96);
    width: 100%;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: flex-end;
  margin: 0;
  position: relative;
  text-decoration: none;
  z-index: 2;

  .icon {
    position: relative;
    left: size(-2);
    top: size(-2);

    @include media(md) {
      left: size(-2);
      top: size(-6);
    }

    @include media(lg) {
      position: static;
      left: auto;
      top: auto;
    }
  }
}

.logo-title {
  margin: 0;
  color: $black;
  margin-left: size(-4);
  font-family: var(--secondary-font);
  font-size: size(16);
  line-height: size(20);

  @include media(md) {
    position: relative;
    top: size(-3);
  }

  @include media(lg) {
    right: size(3);
    top: size(4);
    margin-left: size(1);
  }
}

.burger {
  display: block;
  position: relative;
  top: size(-2);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: size(6);
  cursor: pointer;

  &.open {
    span:first-child,
    span:last-child {
      opacity: 0;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
      position: relative;
      top: size(3);
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      position: relative;
      bottom: size(3);
    }
  }

  span {
    width: size(40);
    height: size(2);
    background: #717171;
    transition: $td;
  }

  @include media(md) {
    display: none;
  }
}

.menu {
  @include media(md, max) {
    // display: none;
    position: fixed;
    top: 0;
    left: 100%;
    background: $body;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    transition: $td;
  }

  @include media(md) {
    display: block;
  }

  &.show {
    $top: size(100);
    left: 0;
    display: block;
    padding-top: $top;
    padding-bottom: size(20);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: size(20);
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: var(--secondary-font);

    @include media(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: size(46);
      position: relative;
      left: size(-4);
    }

    @include media(lg) {
      top: size(7);
      right: size(3);
      left: auto;
    }
  }
}

.menu-link {
  a {
    @include media(md, max) {
      line-height: size(20);
    }

    color: $nav;
    text-decoration: none;
    font-size: size(16);
    line-height: size(50);
    transition: $td;

    &:hover {
      color: $orange;
    }
  }
}
