<header class="header">
  <div class="container">
    <div class="header-inner pv-36">
      <div class="logo">
        <svg class="icon">
          <use xlink:href="#logo"></use>
        </svg>
        <p class="logo-title">Plants</p>
      </div>
      <div class="burger">
        <svg class="icon">
          <use xlink:href="#burger"></use>
        </svg>
      </div>
      <nav class="menu">
        <ul>
          <li class="menu-link">
            <a href="#welcome">Home</a>
          </li>
          <li class="menu-link">
            <a href="#about">About us</a>
          </li>
          <li class="menu-link">
            <a href="#service">Service</a>
          </li>
          <li class="menu-link">
            <a href="#prices">Price</a>
          </li>
          <li class="menu-link">
            <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
