.about {
  background-color: $white;
}

.about-inner {
  @include media(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.about-info {
  @include media(lg) {
    max-width: size(605);
  }
}

.about-title {
  @include media(md) {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(lg) {
    margin-left: 0;
    width: size(463);
  }
}

.about-content {
  font-size: size(15);
  line-height: size(25);
  position: relative;
  top: size(-5);

  @include media(md) {
    top: size(13);
    font-size: size(20);
    line-height: size(30);
  }

  @include media(lg) {
    position: static;
    top: auto;
  }
}

.about-img {
  position: relative;
  top: size(-5);
  width: size(150);
  margin: 0 auto;
  margin-bottom: size(-8);

  @include media(md) {
    top: size(40);
    width: size(250);
    margin-bottom: size(41);
  }

  @include media(lg) {
    position: static;
    top: auto;
    width: size(464);
    margin: inherit;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
