<section class="about" id="about">
  <div class="container">
    <div class="about-inner pv-30 pt-40@md pt-105@lg pb-95@md">
      <div class="about-info">
        <h2 class="about-title subtitle text-color__green tac tal@lg ph-20 ph-122@md ph-0@lg mb-20 mb-40@md">We are <span class="text-color__orange">professional experienced</span> gardeners</h2>
        <p class="about-content text mb-40@md mb-0@lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="about-img">
        <img src="assets/img/about.png" alt="Pot of flowers">
      </div>
    </div>
  </div>
</section>
