[class*="hide"] {
  --d-inline: inline;
  --d-block: block;
  --d-inline-block: inline-block;
  --d-flex: flex;
  --d-inline-flex: inline-flex;
  --d-grid: grid;
}

@each $bp, $value in $media-breakpoints {
  .hide\@#{$bp} {
    @include media($bp) {
      --d-inline: none;
      --d-block: none;
      --d-inline-block: none;
      --d-flex: none;
      --d-inline-flex: none;
      --d-grid: none;
    }
  }
}
