<section class="prices" id="prices">
  <div class="container">
    <div class="prices-inner pt-25 pb-40 pt-40@md pb-88@md pb-115@lg">
      <h2 class="prices-title subtitle mb-40 mb-60@lg">Prices</h2>
      <div class="prices-list mb-20">
        <div class="prices-item">
          <p class="prices-item__title">Basics</p>
          <div class="prices-item__expand">
            <i class="icon"></i>
          </div>
        </div>
        <div class="prices-item">
          <p class="prices-item__title">Standard</p>
          <div class="prices-item__expand">
            <i class="icon"></i>
          </div>
        </div>
        <div class="prices-item">
          <p class="prices-item__title">Pro care</p>
          <div class="prices-item__expand">
            <i class="icon"></i>
          </div>
        </div>
      </div>
      <div class="prices-info">
        <p class="prices-description text mb-14 mb-20@md mb-40@lg">Our best <span class="text-color__green">gardeners</span> are ready to help you</p>
        <button class="prices-btn btn btn-outline--orange ph-22 pv-8 pv-12@md ph-30@md mb-34@md mb-40@lg">Contact us</button>
        <div class="prices-leaves">
          <img src="assets/img/leaves.png" alt="Leaves">
        </div>
      </div>
    </div>
  </div>
</section>
