.welcome {

}

.welcome-inner {
  @include media(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.welcome-info {
  @include media(md) {
    max-width: size(340);
  }

  @include media(lg) {
    max-width: size(550);
    order: 1;
  }
}

.welcome-title {
  @include media(md) {
    position: relative;
    top: size(-6);
  }

  @include media(lg) {
    top: auto;
  }
}

.welcome-content {
  @include media(md) {
    position: relative;
    top: size(-4);
    left: size(5);
    font-size: size(16);
    line-height: size(25);
  }

  @include media(lg) {
    position: static;
    top: auto;
    left: auto;
    font-size: size(20);
    line-height: size(35);
  }
}

.welcome-img {
  display: none;

  @include media(md) {
    display: block;
    width: size(280);
  }

  @include media(lg) {
    width: size(450);
    order: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
