<section class="welcome" id="welcome">
  <div class="container">
    <div class="welcome-inner pv-24 pt-40@md pb-70@md pv-62@lg">
      <div class="welcome-info pt-48@lg">
        <h1 class="welcome-title title text-color__title mb-20 mb-30@md mb-42@lg">We grow <span class="text-color__green">plants</span> and give you oxygen</h1>
        <p class="welcome-content text-color__content text mb-20 mb-30@md mb-44@lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <button class="btn btn-outline ph-16 pv-6 ph-26@md pv-10@md mt-7 mt-0@md">LEARN MORE</button>
      </div>
      <div class="welcome-img">
        <img src="assets/img/background.png" alt="Welcome Leaves">
      </div>
    </div>
  </div>
</section>
