<section class="welcome" id="welcome">
  <div class="container">
    <div class="welcome-inner pv-24 pt-40@md pb-70@md">
      <div class="welcome-info pt-36@lg">
        <h1 class="title text-color__title mb-20 mb-30@md mb-42@lg">We grow <span class="text-color__green">plants</span> and give you oxygen</h1>
        <p class="text-color__content text mb-20 mb-30@md mb-48@lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <button class="btn btn-outline ph-20 pv-8 ph-27@md pv-14@md">LEARN MORE</button>
      </div>
      <div class="welcome-img">
        <img src="assets/img/background.png" alt="Welcome Leaves">
      </div>
    </div>
  </div>
</section>
