<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts-inner pt-25 pt-40@md pt-60@lg">
      <h2 class="contacts-title subtitle mb-80 mb-100@md mb-0@lg">Contact us</h2>
      <div class="contacts-address mh-auto mb-132 mb-250@md mr-0@lg mb-0@lg mt-88@lg ml-64@lg">
        <p class="contacts-address__title">City</p>
        <div class="contacts-address__expand">
          <i class="icon"></i>
        </div>
      </div>
      <div class="contacts-img">
        <img src="assets/img/footer.png" alt="Contacts">
      </div>
    </div>
  </div>
</section>
