<nav class="pagination pv-8">
  <a class="btn btn--size-sm btn--theme-white pagination--first p-8 mr-12" href="#?p=1">
    <i class="icon"></i>
  </a>
  <a class="btn btn--size-sm btn--theme-white pagination--prev p-8 mr-12" href="#?p=2">
    <i class="icon"></i>
  </a>
  <a class="pagination--page show@md" href="#?p=1">1</a>
  <a class="pagination--page" href="#?p=2">2</a>
  <span  class="pagination--current">3</span>
  <a class="pagination--page" href="#?p=4">4</a>
  <a class="pagination--page show@md" href="#?p=5">5</a>
  <span  class="pagination--divider">...</span>
  <a class="pagination--page" href="#?p=11">11</a>
  <a class="btn btn--size-sm btn--theme-white pagination--next p-8 ml-12" href="#?p=4">
    <i class="icon"></i>
  </a>
  <a class="btn btn--size-sm btn--theme-white pagination--last p-8 ml-12" href="#?p=11">
    <i class="icon"></i>
  </a>
</nav>
