<div id="main-menu" class="main-menu pv-8 pv-12@lg">
  <div class="container">
    <a href="tel:+70000000000" class="main-menu--phone title title--size-sm hide@lg order-0">
      <svg class="icon mr-12">
        <use xlink:href="assets/sprites/icons.svg#call"></use>
      </svg>
      +7 (000) 000-00-0</a>
    <nav class="menu show@lg order-0 mr-44@lg">
      @@include("menu-links.html")
    </nav>
    <button class="btn btn--size-sm btn--theme-white ml-8 hide@lg order-2 order-3@md" data-toggle-menu>
      <svg class="icon">
        <use xlink:href="assets/sprites/icons.svg#sandwich"></use>
      </svg>
    </button>
  </div>
</div>
