<div id="modal-menu" class="modal-menu hide@lg ph-16 pt-16 pb-12 btlr-8@md bblr-8@md">
  <div class="modal-menu--header pv-12 ph-16 mb-16">
    <button class="btn btn--size-sm btn--theme-grey p-8 ml-8 hide@lg order-2 order-3@md" data-toggle-menu>
      <svg class="icon">
        <use xlink:href="assets/sprites/icons.svg#close"></use>
      </svg>
    </button>
  </div>
  <nav class="menu mb-16">
    @@include("menu-links.html")
  </nav>
  <div class="modal-menu--footer">
    <a href="tel:+70000000000" class="modal-menu--contacts title title--size-sm pv-8 ph-16">
      <svg class="icon mr-12">
        <use xlink:href="assets/sprites/icons.svg#call"></use>
      </svg> +7 (000) 000-00-00</a>
    <a href="mailto:mail@domain.com" class="modal-menu--contacts title title--size-sm pv-8 ph-16">
      <svg class="icon mr-12">
        <use xlink:href="assets/sprites/icons.svg#mail"></use>
      </svg> mail@domain.com</a>
  </div>
</div>
